body {
    box-sizing: border-box;
    width: 1200px;
    height: 1200px;
}

#griglia
{   
    display: grid;

    grid-template-rows: repeat(3, 100px);
    grid-auto-columns: 100px;

    

    background: teal;
    border: 2px solid yellow;
    width: fit-content;
    grid-auto-flow: column;

    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;

}

.oggetto
{
    border: 2px dotted black;
    background: #f00;
    height: 100px;
    width: 100px;
}