@font-face {
  font-family: "League Gothic";
  src: url("../font/LeagueGothic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(26, 25, 25);
  color: rgb(221, 221, 221);
}

#search-bar-form {
  display: inline;
}

#nav {
  width: auto;
  height: 50px;
  border: 2px solid yellow;
  padding: 10px 10px 20px 10px;
}

#menu {
  margin: 10px;
  background: rgba(0, 0, 0, 0);
  border: none;
}

#logo {
  font-size: 30px;
  font-family: "League Gothic";
  color: rgb(221, 221, 221);
  text-decoration: none;
  margin-left: 10px;
}

#search-bar {
  font-size: 20px;
  margin-left: 15%;
  padding: 5px 0px 5px 15px;
  width: 30%;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
}

#search-bar:focus {
  outline: none;
  border: 2px solid rgb(32, 110, 178);
}

input[type="search"]::-webkit-search-cancel-button {
  /* Rimuove la X blu nativa */
  appearance: none;

  height: 25px;
  width: 25px;

  background-image: url("../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#search-button {
  position: relative;
  right: 5px;
  padding: 0px 10px 10px 20px;
  border-radius: 0px 10px 10px 0px;
}

#search-button img {
  position: relative;
  top: 5px;
  right: 3px;
}

#voice-button {
  border-radius: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
}
#voice-button svg {
  position: relative;
  top: 5px;
}

#settings-button {
  background-color: transparent;
  margin-left: 12%;
  border: none;
}

#signin-button {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: transparent;
  color: rgb(30, 150, 225);
  border-color: gray;
  border-radius: 25px;
}
#signin-button span {
  font-size: 15px;
  vertical-align: super;
}

button {
  background-color: rgb(59, 59, 59);
  border: 1px solid white;
  color: white;
}
