@font-face {
  font-family: "League Gothic";
  src: url("../font/LeagueGothic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(26, 25, 25);
  color: rgb(221, 221, 221);
}



#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 35px;
}

#nav_sx
{
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#nav_dx
{
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

#menu {
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border: none;
}

#logo {
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#logo  span{
  font-size: 30px;
  font-family: "League Gothic";
  color: rgb(221, 221, 221);
  text-decoration: none;
}

#search-bar-form {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#search-bar-with-button{
  flex-grow: 1;
  display: flex;
}

#search-bar {
  flex-grow: 1;
  font-size: 20px;
  padding: 5px 0px 5px 15px;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-right: none;
  color: white;
}

#search-bar:focus {
  outline: none;
  border: 2px solid rgb(32, 110, 178);
}

#search-bar::-webkit-search-cancel-button {
  /* Rimuove la X blu nativa */
  appearance: none;

  height: 25px;
  width: 25px;

  background-image: url("../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#search-button {
  height: 35px;;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-radius: 0px 9999px 9999px 0px;
}

#voice-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

#settings-button {
  background-color: transparent;
  border: none;
}

#signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  background-color: transparent;
  color: rgb(30, 150, 225);
  border-color: gray;
  border-radius: 9999px;
}
#signin-button span {
  font-size: 16px;
}


button {
  background-color: rgb(59, 59, 59);
  border: 1px solid white;
  color: white;
}

.video{
  /*DA MODIFICARE*/ width: calc(150px*16/9);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
  border: 2px solid red;
  padding: 3px;
}
.video img{
  height: 150px;
  width: auto;
}

.video-info{
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 5px;
}

.title{
  display: flex;
  flex-direction: column;
}

.channel-text{
  color: rgb(163, 163, 163);
  font-size: 12px;
}

#content-display{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
