#Nav
{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 40px;
align-content: center;
}

#Div_ricerca{
    display: flex;
    flex-grow: 1;
}

#Nav_sx{
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

#Nav_dx{
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

#Hamburger
{
    background-color: rgba(0, 0, 0, 0);
}

#logo{
    display: flex;
    align-items: center;
    color: rgb(79, 79, 79);
    font-size: 25px;
    font-weight: bold;
    text-decoration-line: none;
}

#barra-di-ricerca{
    flex-grow: 1;
    border-radius: 15px 0px 0px 15px;
    padding: 0px 0px 0px 10px;
}

#button-search{
    border-radius: 0px 15px 15px 0px;
}

#button-impostazioni{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}


#Accedi span{
    vertical-align: center;
    color: rgb(6, 9, 169);
    text-decoration-line: none;
}

#Accedi{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration-line: none;
    border-radius: 17px;
}